.addContact h3, .addContact h2{
    font-weight: 600;
}

.addContact .card{
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
}

.connect{
    aspect-ratio: 1/1;
    width: 220px;
}

.add-cont img{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 100%;
}

.add-cont{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.backHeader {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.backButton {
    all: unset;
    position: absolute;
    left: 0;
}

.backButton:focus {
    outline: 2px solid red;
    outline-offset: 2px;
}
