header, .dashboard, .dashboard-content, .dashboard-user, .dashboard-user-info{
    display: flex;
}

.dashboard{
    height: 100vh;
    width: 100vw;
    background: var(--base-white);
}

.dashboard header{
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.dashboard header{
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm) var(--space-md);
}

.dashboard header, .dashboard footer{
    background-color: var(--soft-white);
}

.dashboard-body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dashboard-content, .dashboard-contacts, .dashboard-user{
    width: 100%;
    padding: var(--space-sm) var(--space-md);
}

.dashboard-user, .dashboard-card, ul{
    gap: var(--space-sm);
}

.dashboard, .dashboard-content, .dashboard-user-info, .dashboard-card{
    flex-direction: column;
}

.dashboard-user-info{
    gap: var(--space-xs);
    justify-content: center;
}

.map{
    grid-column: 2/4;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.dashboard-card{
    display: flex;
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    background-color: var(--soft-white);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.dashboard footer{
    height: 60px;
    width: 100vw;
}
.logout-btn{
    border: none;
    background-color: transparent;
    font-weight: 800;
    text-decoration: underline;
    width: fit-content;
}