header, .dashboard, .dashboard-content, .dashboard-user, .dashboard-user-info, .dashboard-cont-info, .map, .dashboard-cont-ws, .dashboard-history{
    display: flex;
}
.dashboard{
    height: 100vh;
    width: 100vw;
    background: var(--base-white);
    overflow: hidden;
}

.dashboard header{
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.dashboard header{
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm) var(--space-md);
}

.dashboard header, .dashboard footer{
    background-color: var(--soft-white);
}

.dashboard-body{
    height: 100%;
    width: 100%;
    display: grid;
    gap: var(--space-md);
    grid-template-columns: repeat(5, 1fr);
    padding: var(--space-md) var(--space-xl) ;
}

.dashboard-content{
    grid-column: 1/3;
    position: relative;
    gap: var(--space-md);
}

.dashboard-content, .dashboard-contacts, .dashboard-user{
    width: 100%;
}

.dashboard-user, .dashboard-card, ul{
    gap: var(--space-sm);
}

.dashboard, .dashboard-content, .dashboard-user-info,  .dashboard-cont-info, .dashboard-card, .dashboard-cont-ws, .dashboard-history{
    flex-direction: column;
}

.dashboard-card img{
    aspect-ratio: 1/1;
    width: 100%;
}

.dashboard-user img{
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 100%;
    border: 1px solid var(--text-black);
}

.dashboard-user-info{
    padding: var(--space-sm) 0;
    gap: var(--space-xs);
    justify-content: center;
}

.dashboard-cont-info{
    justify-content: center;
}

.dashboard-cont-ws{
    gap: var(--space-xs);
    text-align: center;
}

.map{
    grid-column: 3/6;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.dashboard-card{
    display: flex;
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    background-color: var(--soft-white);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.dashboard footer{
    height: 60px;
    width: 100vw;
}

.logout-btn{
    border: none;
    background-color: transparent;
    font-weight: 800;
    text-decoration: underline;
    width: fit-content;
}

.back-btn{
    position: absolute;
    border: none;    
    background-color: transparent;
    right: 0;
    width: auto;
    padding: none;
}

.back-btn img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.geo-loc{
    text-align: center;
}

.map{
    border: 2px solid var(--text-black);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.dashboard-cont-ws{
    gap: var(--space-sm);
    text-align: center;
}

.dashboard-buttons{
    padding: 0 var(--space-md);
    display: flex;
    gap: var(--space-sm);
}

.d-btn, .table-card{
    background-color: var(--soft-white);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.d-btn{
    padding: var(--space-xs);
    border: none;
}

.dashboard-history{
    text-align: center;
    gap: var(--space-sm);
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
}

.table-card{
    flex: 1 0 auto;
    padding: var(--space-xs);
    overflow-y: auto;
    min-height: 0;
}

.table-card table{
    width: 100%;
    border-radius: var(--space-sm);
    border-collapse: collapse;
}

.table-card table tr{
    border-bottom: 1px solid var(--text-black);
}

.table-card table tr:last-child {
    border-bottom: none;
}

.table-card table td, .table-card table th{
    padding: var(--space-xxs) 0;
}

@media screen and (max-width: 768px) {

}
@media screen and (min-width: 768px) and (max-width:1024px) {

}
@media screen and (min-width: 1024px) {

}