.login-card, .logo, .line, .neg-btn, .switch{
    display: flex;
}

.login-card{
    background-color: var(--base-white);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    padding: var(--space-xxl) var(--space-sm) var(--space-sm);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
.login-logo{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--space-lg);
}
.lifeline-logo-mini{
  padding: 0 var(--space-lg);
  height: 64px;
}
hr{
    width: 100%;
    height: 1px;
    border: 1px var(--muted-grey) solid;
}
.line{
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.neg-btn{
    flex-direction: row;
    justify-content: center;
}
.google-logo{
    aspect-ratio: 1/1;
    height: 24px;
    margin-right: var(--space-xs);
}
.switch{
    padding: var(--space-xxs);
    text-align: center;
    width: 100%;
}
p{
    width: 100%;
}
a{  
    text-decoration: none;
    color: var(--highlight-green);
    font-weight: 700;
}
.error{
    text-align: center;
    font-size: 16px;
    color: var(--lifeline-red);
}
@media screen and (max-width: 767px){
    .login-card{
        border-radius: 0;
    }
}
@media screen and (max-height: 667px){
    .login-card{
       padding-top: var(--space-md);
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .login-card{
        width: 600px;
        height: 760px;
        padding: 60px 120px;
    }
}

@media screen and (min-width: 1024px){
    .login-card{
        width: 700px;
        height: 800px;
        padding: 60px 180px;
    }
} 
