.dashboard{
    position: relative;
}
.dashboard header{
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
}
.back{
    cursor: pointer;
    width: auto;
    border: none;
    background-color: transparent;
    padding: 15px 0 15px 15px;
}
.back img{
    width: 20px;
}

.profile-body{
    height: 100%;
    width: 100%;
    display: grid;
    gap: var(--space-md);
    grid-template-columns: repeat(4, 1fr);
    padding: var(--space-md) var(--space-xl);
}

.profile-user{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--space-sm);
    background-color: var(--soft-white);
    padding: var(--space-sm);
    align-items: center;
}

form.profile-user{
    gap: 0px;
}

.profile-id{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--space-xs);
    padding-bottom: var(--space-sm);
    align-items: center;
    text-align: center;
}

.profile-id img{
    aspect-ratio: 1/1;
    height: 120px;
    border-radius: 100%;
    border: 1px solid var(--text-black);
}

.profile-info{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    align-items: start;
    padding-top: var(--space-md);
}

.profile-info > div{
    width: 100%;
}

.info-label{
    color: var(--muted-grey);
}

.profile-edit{
    padding-top: var(--space-sm);
    flex-direction: row;
    width: 100%;
}

.info-radio{
    display: flex;
    gap: var(--space-xs);
}

.info-radio input{
    width: 20px;
}

.info-options{
    display: flex;
    padding-top: var(--space-xs);
    flex-direction: column;
    gap: var(--space-xxs);
}

.profile-user input{
    border: none;
    border-radius: 0;
    border-bottom: 3px solid var(--text-black);
}

.input-name{
    text-align: center;
}

.edit-img{
    position: absolute;
    top: 100px;
    background-color: var(--lifeline-red);
    width: auto;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: var(--space-xxs);
    text-align: center;
    color: var(--soft-white);
}

.avatar-modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.avatar-modal-content{
    display: flex;
    width: 60%;
    max-width: 800px;
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    background-color: var(--soft-white);
    flex-direction: column;
    gap: var(--space-md);
    text-align: center;
}

.avatar-grid{
    gap: var(--space-sm);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.avatar-grid input{
    border: none;
    appearance: none;
    padding: 0;
}

.avatar-choice{
    display: flex;
    flex-direction: column;
}

.avatar-img{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 100%;
    border: 1px solid var(--text-black);
}

.avatar-choice.selected .avatar-img{ 
  border: 3px solid var(--lifeline-red);
}

.relative{
    position: relative;
}

.absolute-right{
    position: absolute;
    right: 0;
    top: 0;
}

.profile-contacts > div{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}
.profile-contacts{
    display: flex;
    flex-direction: column;
    grid-column: 2/5;
    gap: var(--space-md);
}
.add-btn{
    display: flex;
}

.profile-card{
    display: flex;
    flex-direction: column;
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    background-color: var(--soft-white);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    gap: var(--space-xs);
    min-width: 300px;
}

.profile-card-name{
    display: flex;
    gap: var(--space-xs);
    align-items: center;
}

.profile-card-name img{
    aspect-ratio: 1/1;
    width: 32px;
    height: auto;
    border-radius: 100%;
    border: 1px solid var(--text-black);
}

.neg{
    color: var(--lifeline-red);
}

.pos{
    color: var(--highlight-green);
}

.remove{
    margin-top: var(--space-xs);
}