.dashboard{
    position: relative;
}
.profile-body, .profile-user, .profile-user-content, .profile-id, .profile-info, .info-radio, .info-options, .btn-row, .profile-card-name, .profile-card, .add-btn, .profile-contacts, .modal, .modal-content, .avatar-choice, .profile-card-content{
    display: flex;
}
.profile-body, .profile-user, .profile-user-content, .profile-id, .profile-info, .info-options, .modal-content, .avatar-choice, .profile-contacts, .profile-card, .profile-card-content{
    flex-direction: column;
}
.relative{
    position: relative;
}
.dashboard header, .profile-user, .profile-card{
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
.dashboard header{
    height: 60px;
}
.back, .edit-img, .profile-card{
    cursor: pointer;
}
.profile-user, .profile-card, .profile-body, .modal-content{
    padding: var(--space-sm);
}

.back{
    width: auto;
    border: none;
    background-color: transparent;
    padding: 15px 0 15px 15px;
}
.back img{
    width: 20px;
}

.profile-body{
    height: 100%;
    width: 100%;
    gap: var(--space-sm);
}
.profile-user, .modal-content, .profile-card{
    border-radius: var(--space-sm);
    background-color: var(--soft-white);
}
.profile-user{
    padding: var(--space-xs);
    align-items: center;
}

.profile-user-content{
    gap: var(--space-xs);
    flex: 1;
    padding-bottom: var(--space-xs);
    width: 100%;
}

form.profile-user{
    gap: 0px;
}

.profile-id{
    position: relative;
    gap: var(--space-xs);
    align-items: center;
    text-align: center;
}

.profile-grid{
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
}

.profile-img{
    border: 1px solid var(--text-black);
}

.profile-info{
    width: 100%;
    flex: 1;
    gap: var(--space-xs);
    align-items: start;
    flex-wrap: wrap;
    min-width: 60%;
}

.profile-info > div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info-label{
    color: var(--muted-grey);
}

.profile-edit{
    padding-top: var(--space-xs);
    flex-direction: row;
    width: 100%;
}

.info-radio{
    gap: var(--space-xs);
}

.info-radio input{
    width: 20px;
}

.info-options{
    padding-top: var(--space-xs);
    gap: var(--space-xxs);
}

.profile-user input{
    border: none;
    border-radius: 0;
    border-bottom: 3px solid var(--text-black);
}

.input-name{
    text-align: center;
}

.edit-img{
    position: absolute;
    bottom: 0;
    right: 5%;
    background-color: var(--lifeline-red);
    width: auto;
    border: none;
    border-radius: 100%;
    padding: var(--space-xxs);
    text-align: center;
    color: var(--soft-white);
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-user-content .modal-content{
    width: 60%;
    max-width: 800px;
    gap: var(--space-md);
    text-align: center;
}

.avatar-grid{
    gap: var(--space-sm);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.avatar-grid input{
    border: none;
    appearance: none;
    padding: 0;
}

.avatar-img{
    width: 100%;
    border: 1px solid var(--text-black);
}

.avatar-choice.selected .avatar-img{ 
  border: 3px solid var(--lifeline-red);
}

.relative{
    position: relative;
}

.absolute-right{
    position: absolute;
    right: 0;
    top: 0;
}

.profile-contacts > div{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.profile-contacts{
    grid-column: 2/5;
    gap: var(--space-xs);
}

.profile-card{
    min-width: 300px;
    max-width: 350px;
    justify-content: space-between;
}
.profile-card-content{
    gap: var(--space-xxs);
    text-wrap: break-text;
    overflow-wrap: break-word;
    word-break: break-word;
    text-wrap: pretty;
}

.profile-card-name{
    gap: var(--space-xs);
    align-items: center;
}

.profile-card-name img{
    width: 32px;
    height: auto;
    border: 1px solid var(--text-black);
}

.neg{
    color: var(--lifeline-red);
}

.pos{
    color: var(--highlight-green);
}

.remove{
    margin-top: var(--space-xs);
}

.btn-row{
    gap: var(--space-sm);
}

@media screen and (max-width: 768px) {
    .profile-grid, .avatar-grid{
        gap: var(--space-xs);
    }
    .profile-info, .profile-card-name{
        gap: var(--space-xxs);
    }
    .profile-img{
        height: 64px;
    }
    .profile-card{
        min-width: 250px;
    }
    .profile-card, .profile-user{
        padding: var(--space-xs);
    }
    .modal-content{
        width: 80%;
        gap: var(--space-sm);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .profile-body{
        padding: var(--space-md);
        gap: var(--space-md);
    }
    .profile-edit{
        padding-top: var(--space-sm);
    }
    .profile-user-content{
        flex-direction: row;
        gap: var(--space-sm);
        padding-bottom: var(--space-sm);
    }
    .vr{
        width: 1px;
        height: 100%;
    }
}
@media screen and (min-width: 1024px){
    .profile-grid{
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
    }
}

@media screen and (min-width: 1025px){
    .profile-body{
        height: 100%;
        width: 100%;
        display: grid;
        gap: var(--space-md);
        grid-template-columns: repeat(4, 1fr);
        padding: var(--space-md) var(--space-xl);
    }
    .profile-user-content{
        flex-direction: column;
    }
    .confirm-modal{
        width: 30%;
    }
}
