@font-face {
  font-family: "Krub";
  src: url("/fonts/Krub-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Krub-bold";
  src: url("/fonts/Krub-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-bold";
  src: url("/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Extrabold";
  src: url("/fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --inter-reg: "Inter", system-ui, sans-serif;
  --inter-bold: "Inter-bold", system-ui, sans-serif;
  --inter-xbold: "Inter-Extrabold", system-ui, sans-serif;
  --krub-reg: "Krub", system-ui, sans-serif;
  --krub-bold: "Krub-bold", system-ui, sans-serif;

  --space-xxs: 5px;
  --space-xs: 10px;
  --space-sm: 20px;
  --space-md: 30px; 
  --space-lg: 40px;
  --space-xl: 60px;
  --space-xxl: 80px;

  --lifeline-red: #DF3721;
  --highlight-green: #2E86AB;
  --muted-grey: #404040;
  --text-black: #000000;
  --soft-white: #FFFFFC;
  --base-white: #ECF0F3;
  --base-dark: #121212;
  --soft-dark: #36393F;

  --red-landing: linear-gradient(180deg, rgb(255,0,0) 0%, rgb(255,128,126) 33%, rgb(255,191,189) 58%, rgb(255,255,252) 82%);
  --red-background: linear-gradient(0deg,rgba(159, 39, 24),rgba(173, 90, 90));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--krub-reg);
  line-height: 1.5;
}

h1 {
  font-family: var(--inter-xbold);
  font-size: clamp(2rem, 1.5146rem + 2.0712vw, 4rem);
  font-weight: 800;
  color: var(--muted-grey);
  line-height: 95%;
}

h2 {
  font-family: var(--inter-xbold);
  font-size: clamp(1.375rem, 1.2233rem + 0.6472vw, 2rem);
  font-weight: 800;
  line-height: 95%;
}

h3 {
  font-family: var(--inter-xbold);
  font-size: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);
  font-weight: bold;
  line-height: 95%;
}

p , button{
  font-family: var(--krub-reg);
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  font-weight: 400;
  line-height: 105%;
}
p>strong{
  font-family: var(--krub-bold);
}

.lifeline-text, .head-title{
  color: var(--muted-grey);
}

.head-title{
  letter-spacing: 2px;
  text-transform: uppercase;
}

.full{
  height: 100%;
}

.btn, form{
  display: flex;
  flex-direction: column;
}

.btn{
  gap: var(--space-sm);
}

button{
  width: 100%;
  border-radius: var(--space-sm);
  padding: 15px 20px;
  letter-spacing: 2px;
  align-items: center;
}

.pos-btn{
  background-color: var(--lifeline-red);
  font-weight: 600;
  border: none;
  color: var(--soft-white);
}

.pos-btn:disabled{
  background-color: var(--muted-grey);
  color: var(--soft-white);
  cursor: not-allowed;
}

.neg-btn{
  background-color: transparent;
  font-weight: 600;
  border: 2px var(--text-black) solid;
}

.login, .signup, .addContact, .phoneNumber{
  background: var(--red-background);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  height: 100%;
}

form{
  display: flex;
  gap: var(--space-sm);
  width: 100%;
  justify-content: space-between;
}

input{
  width: 100%;
  font-size: 20px;
  border: 2px solid var(--text-black) ;
  border-radius: var(--space-sm);
  color: var(--text-black);
  background-color: transparent;
  padding: 15px 20px;
}

.avatar{
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid var(--text-black);
}

input:focus {
  outline: none;
  border:2px solid var(--muted-grey);
}

input:invalid, input.invalid, input:not(:placeholder-shown):invalid {
  border:2px solid var(--lifeline-red);
}

input[type="radio"]:checked {
  accent-color: var(--lifeline-red)
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--base-white) inset;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--base-white) inset;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;           
}

::-webkit-scrollbar-track {
  background: var(--muted-grey); 
  border-radius: 10px;   
}

::-webkit-scrollbar-thumb {
  background-color: var(--lifeline-red);
  border-radius: 5px;  
  border: 2px solid var(--muted-grey);
}

::-webkit-scrollbar-button {
  display: none;         
}

@media screen and (max-width: 768px){
  button{
    padding: 12px 16px;
  }
  ::-webkit-scrollbar {
    width: 8px; 
    height: 6px;
  }
}